@import 'tailwindcss';

@layer components {
    .btn {
        @apply px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700;
    }

    .nav-link {
        @apply text-slate-100 text-[1.05em] font-semibold cursor-pointer transition-colors duration-300;
    }

    .nav-link:hover {
        @apply text-purple-300;
    }
}